{% extends "base.html" %}
{% load static %}

{% block content %}

    <!-- Hero Start -->
    <div class="container-fluid bg-primary py-5 hero-header mb-5">
        <div class="row py-3">
            <div class="col-12 text-center">
                <h1 class="display-3 text-white animated zoomIn">Profile Page</h1>
                <a href="{% url 'patient:index' %}" class="h4 text-white">Home</a>
                <i class="far fa-circle text-white px-2"></i>
                <a href="{% url 'patient:profile' %}" class="h4 text-white">Profile</a>
            </div>
        </div>
    </div>
    <!-- Hero End -->

    <div class="col-lg-6 m-auto">
        <div class="appointment-form h-100 d-flex flex-column justify-content-center text-center p-5 wow zoomIn" data-wow-delay="0.6s">
            <h1 class="text-white mb-4">Profile Form</h1>
            <form action="" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">Profile</button>
            </form>
        </div>
    </div>

{% endblock content %}